@charset "UTF-8";

/*@import url(http://www.markmurray.co/codepen/entypostyle.css);*/
/*@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700); */
/*@import url(http://fonts.googleapis.com/css?family=Rajdhani:300,400,500);*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before { font-family: 'entypo', sans-serif; font-size: 1.4em; }

body, html { height: 100%; }

a { text-decoration: none; color: #fff; font-size: 0.750em; font-weight: 400; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; letter-spacing: 2px; }

*:focus { outline: 0; }
::-webkit-scrollbar {  display: none; }

h1 {
    font-size: 4.583em;
    font-family: 'NeutrafaceText-Demi', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}/*===== 73px =====*/

h2 {
    font-size: 3.125em;
    font-family: 'NeutrafaceText-Demi', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}/*===== 50px =====*/

h3 {
    font-size: 1.875em;
    font-family: 'NeutrafaceText-Demi', sans-serif; font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: 34px;
}/*===== 30px =====*/

h4 {
    font-size: 1.250em;
    font-family: 'NeutrafaceText-Book', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1.5px;
}/*===== 20px =====*/


h5 {
    font-size: 1.000em;
    font-family: 'AvenirLTStd-Book', Helvetica, Arial, sans-serif;
    line-height: 24px;
    letter-spacing: 1.5px;
}/*===== 16px =====*/

h6 {
    font-size: 0.750em;
    font-family: 'AvenirLTStd-Book', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 1.5px;
}/*===== 12px =====*/

p {
    font-family: 'AvenirLTStd-Book', Helvetica, Arial, sans-serif;
    font-size: 0.750em;
    font-weight: 400;
    line-height: 20px;
}/*===== 12px =====*/

#landing, #about1, { width: 100%; height: 80%; min-height: 650px; }
#how-it-works, #prototype-for-one, #for-many, #open-source { width: 100%; min-height: 500px; }



#landing-content { padding: 70px 0; }
#how-it-works-content { padding: 75px 0; }






#team { width: 100%; min-height: 100%; }
.email-section { height: 275px; width: 100%; }
#how-it-works-content{ width: 100%; min-height: 100%; }
#about1-content, #open-source-content, #team-content, #technology-content, #about5-content, #about6-content { padding: 10% 0; }
#prototype-for-one h6,  #for-many-content h6, #about1-content h6, #open-source-content h6, #technology-content h6 { padding-top: 30px; }

.button {
    position: relative;
    margin: 40px auto 0;
    display: table;
}

button {
    position: relative;
    border-radius: 50px;
    height: 46px;
    width: 193px;
    background-color: #fff;
    color: #059eff;
    font-size: 1.25em;
    letter-spacing: 1px;
    border: none;
    outline: none !important;
    text-transform: uppercase;
    font-family: 'AvenirLTStd-Heavy', Helvetica, Arial, sans-serif;
}

.button span {
    position: absolute;
    border-radius: 50px;
    height: 46px;
    width: 193px;
    background-color: #000;
    opacity: .2;
    right: -2px;
    top: 5px;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease;
}

.button:hover span { right: -10px; top: 8px; }
/*========================

Nav

========================*/
#nav {
    position: relative;
    z-index: 5;
    height: auto;
    width: 100%;
    top: 20px;
}

#nav-center { margin: 0 auto; display: table; }

#navActive { 
    color: white; 
    background-color: #508dd0;
    padding: 0; 
    margin: 10px 0; 
}

#nav-center a {
    text-decoration: none;
    color: #fff; 
    text-transform: uppercase;
    font-family: 'AvenirLTStd-Roman', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
}
/*========================

Sliding Nav

========================*/
.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 20;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: 'AvenirLTStd-Roman', Helvetica, Arial, sans-serif;
    min-height: 70px;
}

.open-nav { max-height: 400px !important; }

.open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.sticky {
    background-color: #0e152b;
    opacity: 1;
    top: 0px;
}

.logo {
  position: absolute;
  top: 10px;
  float: left;
  margin-left: 10px;
}

nav { margin: 6px auto; display: table; }

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin: 0 auto;
  display: table;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

nav ul a { text-transform: uppercase; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 25px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 30px;
  height: 3px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #fff;
  display: block;
}
/*========================

Section 1

========================*/
#landing {
    background: url('../img/landing/overview.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-social { position: absolute; right: 0; top: 0;  }

#landing img { margin: 0 auto; display: table; }
#logo2 { padding-top: 40px; }
#landing h5 {
    text-align: center;
    line-height: 28px;
    color: #fff;
    margin-top: 16px;
    max-width: 575px;
}
/*========================

how-it-works

========================*/
#how-it-works-content h2, #how-it-works-content h5 { color: #252525; text-align: center; }
#how-it-works-content h2 { margin-bottom: 40px; }
#how-it-works-content h5 { 
    max-width: 655px; 
    margin: 0 auto;
    display: table;
}

#how-it-works-content ul { margin-top: 40px; }
#how-it-works-content ul h4 { color: #00e4c1; text-align: center; }
#how-it-works-content ul img { margin: 25px auto; display: block; }
/*========================

prototype-for-one

========================*/
#prototype-for-one {
    position: relative;
    background: url('../img/prototype-for-one/prototype-for-one.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ninty-percent { width: 90%; margin: 0 auto; }
.fifty-percent { width: 50%; margin: 0 auto; }

#prototype-for-one-info { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

#prototype-for-one h3 {  color: #fff; }
#prototype-for-one h3 span { color: #00e4c1; }
#prototype-for-one h6 { color: #fff; max-width: 450px; }
#prototype-for-one-video {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 5%;
    width: 40%;
}
/*========================

for-many

========================*/
#for-many { position: relative; background-color: #fff; margin-bottom: 100px; }
#for-many h3 span { color: #00e4c1; }

#device-container { 
    position: absolute;
    left: -120px;
    top: 50px;
    height: 100%;
    width: 60%;
}

#device-container img {
    max-height: 490px;
}

#for-many-info { 
    padding: 10% 50px 0 0; 
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0; 
}

#for-many h3 { color: #252525; }

#for-many h6  {
    margin: 0;
    color: #252525;
    max-width: 430px;
}
/*========================

Email-section

========================*/
.email-section { background-color: #00e4c1; }
.email-content { position: relative; }

.email-content h3 { 
    text-transform: uppercase; 
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 40px;
}

.email-content h6 {
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.email-content form { position: relative; }
#input-container { display: table; margin: 30px auto; }

#input-container input {
    width: 400px;
    height: 45px;
    padding: 0 9px; 
    text-transform: uppercase;
    color: #00e1b9;
    font-size: 1.000em;
    font-family: 'CrimsonText-Italic', sans-serif;
    line-height: 24px;
    border: 0px;
}

.email-content button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0e152b;
    height: 45px;
    width: 112px;
    border-radius: 0;
    color: #fff;
    font-size: .75em;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease;
}

.email-content button:hover {
    background-color: #fff;
    color: #0e152b;
    border: 1px solid #0e152b;
}

input:focus::-webkit-input-placeholder { color: transparent;}
/*========================

Footer

========================*/
footer {
    position: relative;
    height: 375px;
    width: 100%;
    background-color: #0e152b;
}

footer ul { padding-top: 70px; }
footer a img { display: block; margin: 0 auto; }

footer h6 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1em;
}

footer li p {
    color: #fff;
    padding: 0 20px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1.78px;
    line-height: 24px;
    font-weight: 100;
}

#copyright { 
    position: absolute;
    bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0; 
    color: #fff;
    text-align: center; 
    font-weight: 100;
    letter-spacing: 1.67px;
    line-height: 24px;
}
/*========================

About1

========================*/
#about1 { 
    background: url('../img/about1/about.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about1 h2 { text-align: center; color: #fff; }

#about1 h1  {
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

#about1 h5 { 
    text-align: center;
    margin: 20px auto;
    display: table;
    color: #fff;
    max-width: 575px;
}
/*========================

open-source

========================*/
#open-source { 
    background-color: #fff;
}

#open-source-content h3 { 
    color: #252525; 
    float: right; 
    text-align: right;
}
#open-source-content h3 span { color: #00e4c1; }
#open-source-content h6 { 
    float: right; 
    text-align: right; 
    color: #252525;
    clear: right;
    max-width: 550px;
}
/*========================

Technology

========================*/
#technology{ 
    background: url('../img/technology/technology-bg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#technology-content h3 { color: #fff; }
#technology-content hr { float: left; }
#technology-content h6 { 
    clear: left; 
    max-width: 514px;
    color: #fff; 
}

/*========================

team

========================*/
#team-content ul { margin-top: 50px; }
#team-content li { position: relative; }
#team-content h3 { text-align: center; color: #666666; }
#team-content img { 
    display: block; 
    margin: 0 auto;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease; 
}
#team-content h6 { 
    text-transform: uppercase; 
    font-size: 16px;
    color: #4386D0;
    text-align: center;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif; font-weight: 400;
    letter-spacing: 1.92px;
}

#team-content p {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #666666;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.twitter-hover {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 9px;
}

#team-content a:hover .twitter-hover {
    opacity: 1;
}


@media (max-width: 868px) {
    #prototype-for-one-content { padding: 50px 0; }
    #prototype-for-one-info { 
        position: relative; 
        top: 0;
        transform: translateY(0);
        left: 0;
    }
    #prototype-for-one-info h6 { max-width: 100%; }
    #prototype-for-one-video {
        position: relative;
        top: 55%;
        transform: translateY(0%);
        right: 0;
        left: 0; 
        margin-top: 40px; 
        width: 100% 
    }
    #prototype-for-one-info { float: none; width: 100%; }
}
@media (max-width: 768px) {
    .main_h { padding-top: 25px; }
    .logo { float: none; }
    nav { width: 100%; }
    nav ul {
        padding-top: 26px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
    .mobile-toggle { display: block; }
    #landing-content, #how-it-works-content, #prototype-for-one-content, #for-many-content, #about1-content, #open-source-content, #team-content, #technology-content, #footer-content {
        padding: 85px 30px;
    }


    #prototype-for-one-info h6, #for-many-content h6, #email-content h6 { font-size: 1em; }

    #for-many {
        min-height: 100%;
        height: auto;
        margin: 0;
    }
    #for-many-content { padding: 10% 30px 0 30px; }
    #for-many-info {
        padding: 0;
        margin: 0 auto;
        display: table;
        position: relative;
        transform: translateY(0%);
    }
    #for-many-content h6 { max-width: 100%; }
    #device-container { 
        position: relative;
        height: 100%;
        top: 40px;
        left: 0;
        padding-bottom: 40px;
    }
    #device-container img { 
        top: 0px;
        left: 0;
        top: 0;
    }
    #input-container input { width: 400px; }
    #prototype-for-one h3{ width: auto; }
    footer { height: auto; }
}
@media (max-width: 450px) {
    h2 { font-size: 2.7em; }
    #device-container img { top: -10px; }
    #input-container input, select { width: 300px; }
}

@media (max-width: 350px) {
    #input-container input, select { width: 260px; }
}
