@charset "UTF-8";
/* CSS Document */

@import url(http://www.markmurray.co/codepen/entypostyle.css);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700); 
@import url(http://fonts.googleapis.com/css?family=Rajdhani:300,400,500);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before { font-family: 'entypo', sans-serif; font-size: 1.4em; }

body, html { height: 100%; }

a { text-decoration: none; color: #fff; font-size: 0.750em; font-weight: 400; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; letter-spacing: 2px; }

/* ::-webkit-scrollbar { display: none; } */

*:focus { outline: 0; }


h1 {
    font-size: 4.583em;
    font-family: Rajdhani, Arial, serif; font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}/*===== 73px =====*/

h2 {
    font-size: 2.867em;
    font-family: 'Nunito', sans-serif; font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}/*===== 45px =====*/

h3 {
    font-size: 1.910em;
    font-family: 'Nunito', sans-serif; font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}/*===== 30px =====*/

h4 {
    font-size: 1.250em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1.94px;
}/*===== 20px =====*/


h5 {
    font-size: 1.125em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1.94px;
}/*===== 18px =====*/

h6 {
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 1.92px;
}/*===== 16px =====*/

p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.750em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}/*===== 12px =====*/

#landing, #about2, #about3 { width: 100%; min-height: 100%; }

#for-many { min-height: 100%; margin: 0 0 100px 0; height: 100%; }

.email-section { height: 318px; width: 100%; }

#about1, #how-it-works-content, #prototype-for-one, #partners { width: 100%; min-height: 100%; }

#landing-content, #how-it-works-content, #prototype-for-one, #partners-content, #about1-content, #about2-content, #about3-content, #about4-content, #about5-content, #about6-content { padding: 10% 0; }

#landing-content h1, #how-it-works-content h3, #prototype-for-one h3, #for-many-content h3, #partners-content h3, #about1-content h3, #about2-content h3, #about4-content h3 { padding-bottom: 30px; }

#landing-content h6, #how-it-works-content h6, #prototype-for-one h6,  #for-many-content h6, #partners-content h6, #about1-content h6, #about2-content h6, #about4-content h6 { padding-top: 30px; }

hr {
    border: 2px solid #e4f068;
    width: 80px;
}

.button {
    position: relative;
    margin: 5% auto 0;
    display: table;
}

button {
    position: relative;
    /*width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;*/
    border-radius: 5px;
    height: 46px;
    width: 193px;
    background-color: #508dd0;
    color: #fff;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    outline: none !important;
    text-transform: uppercase;
}

.button span {
    position: absolute;
    /*width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;*/
    border-radius: 5px;
    height: 46px;
    width: 193px;
    background-color: #000;
    opacity: .2;
    right: 10px;
    top: 8px;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease;
}

.button:hover span { right: -10px; top: 8px; }
/*========================

Section 1

========================*/
#landing {
    background: url('../img/landing/overview.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*nav {
    position: fixed;
    z-index: 5;
    height: 45px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 25px 4px #C3C3C3;
    -moz-box-shadow: 0px 0px 25px 4px #C3C3C3;
    box-shadow: 0px 0px 25px 4px #C3C3C3;
}

nav ul { margin: 0 auto; display: table; }

nav ul li { display: inline; padding: 0 20px; } 

*/

/*nav ul li a { 
    font-size: 1em;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease;
}

nav ul li a:hover { 
    border-bottom: 2px solid #29bca5; 
}*/
/*
nav a { 
    top: 15px;
    position: relative;
    color: #5F5F5F; 
    text-transform: uppercase;
    font-family: Rajdhani, Arial, serif; font-weight: 500;
}*/

/*#indiegogo-banner { position: absolute; }*/

#landing h2 { text-align: center; color: #29bca5; }

#landing h1  {
    text-align: center;
    color: #508dd0;
    margin-top: 10px;
}

#landing h6 {
    text-align: center;
    line-height: 28px;
    color: #858585;
}

.mouse-icon {
  /* position: absolute; */
    position: relative;
    border: 2px solid #29bca5;
    border-radius: 16px;
    height: 50px;
    width: 30px;
  /* margin: 0 auto; */
  /* display: block; */
    bottom: 40px;
    /*top: 80px;*/
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #508dd0;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop {
    0%   { top:5px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}

@keyframes drop {
    0%   { top:5px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}

/*========================

how-it-works

========================*/
#how-it-works-content {
    background: url('../img/about3/Background-icons-large.jpg') no-repeat center center;
}

#how-it-works-content h3, #how-it-works-content h6 { color: #666666; text-align: center; }

#how-it-works-content h6 { 
    max-width: 625px; 
    margin: 0 auto;
    display: table;
}
#how-it-works-content ul { margin-top: 75px; }
#how-it-works-content ul h5 { color: #4386D0; text-align: center; }
#how-it-works-content ul img { margin: 25px auto; display: block; }
/*========================

prototype-for-one

========================*/
#prototype-for-one {
    background: url('../img/prototype-for-one/prototype-for-one-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ninty-percent { width: 90%; margin: 0 auto; }
.fifty-percent { width: 50%; margin: 0 auto; }

#prototype-for-one-info { float: left; }

#prototype-for-one h3 { 
    color: #fff; 
    font-size: 28px; 
    letter-spacing: 1.8px;
    line-height: 34px;
    width: 474px;
}
#prototype-for-one h6 { clear: left; color: #fff; padding: 10px 30px 10px 0; }
#prototype-for-one hr { float: left; }
#prototype-for-one-video {
    float: right;
    margin-top: 100px;
    /*position: relative;*/
}

/*#prototype-for-one-video .fluid-width-video-wrapper {
    text-align: center; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; 
}*/
/*========================

for-many

========================*/
#for-many { position: relative; background-color: #fff; }

#device-container { position: relative; 
    /*width: 50%;*/
}

/*#device-container .button { top: -350px; left: 30px; }

#device-container i.icon-play {
    position: absolute;
    font-size: 3em;
    right: 0;
    top: 4px;
    left: 0px;
}

#device-container button { font-size: 0.750em; }

#device-container p { 
    position: relative;
    top: 12px;
    font-size: 1.25em; 
    font-weight: 100;
}
*/

#for-many-content .button { float: left; }

#device-container img {
    position: relative;
    left: 30px;
    top: 20px;
    margin: 0 auto;
    display: block;
    max-height: 700px;
    /*top: 30px;
    max-height: 682px;
    max-width: 500px;*/
}

#for-many-info { float: right; padding: 10% 50px 0 0; z-index: 2; }

#for-many h3 { color: #666666; }

#for-many hr { float: left; clear: left; }

#for-many h6  {
    margin: 0;
    color: #508dd0;
    clear: both;
    max-width: 550px;
}
/*========================

Section 4

========================*/
#partners { background-color: #f8f8f8; }

#partners h3  { text-align: center; color: #666666; } 

/*#partners h4 { 
    text-align: center; 
    color: #508dd0; 
    padding: 0 0 30px 0;
    font-weight: 300;
}*/

#partners h6 {
    text-align: center;
    line-height: 28px;
    color: #858585;
}

#partners img {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 75%;
}

#partners ul { margin-top: 4%; }
#partners li { padding: 0 60px; }
/*========================

Email-section

========================*/
.email-section { background-color: #4386D0; }
.email-content { position: relative; }

.email-content h6 { 
    text-transform: uppercase; 
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif; font-weight: 400;
    letter-spacing: 1.92px;
    padding-top: 50px;
}

.email-content p {
    text-align: center;
    color: #fff;
    letter-spacing: 2.91px;
    width: 390px;
    margin: 0 auto;
}

.email-content form { position: relative; }
#input-container { display: table; margin: 30px auto; }

#input-container input {
    width: 695px;
    height: 61px;
    padding: 0 9px; 
    text-transform: uppercase;
    color: #c5c5c5;
    font-size: 1.000em;
    font-family: 'Nunito', sans-serif;
    line-height: 24px;
}

.email-content button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E4F25D;
    height: 61px;
    width: 112px;
    border-radius: 0;
    color: #000;
    font-family: 'Nunito', sans-serif; font-weight: 400;
    font-size: .75em;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease;
}

.email-content button:hover {
    background-color: #29bca5;
    color: #ffffff;
}

input:focus::-webkit-input-placeholder { color: transparent;}

/*::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
   color: #c5c5c5;
   font-size: 1.000em;
   font-family: 'Nunito', sans-serif;
   letter-spacing: 1.5px;
   line-height: 24px;
}*/
/*========================

Footer

========================*/
footer {
    position: relative;
    height: 375px;
    width: 100%;
    background-color: #3e3e3e;
}

footer ul { padding-top: 70px; }

footer a img { display: block; margin: 0 auto; }

footer h6 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

footer li p {
    color: #fff;
    padding: 0 20px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1.78px;
    line-height: 24px;
    font-weight: 100;
}

#copyright { 
    position: absolute;
    bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0; 
    color: #fff;
    text-align: center; 
    font-weight: 100;
    letter-spacing: 1.67px;
    line-height: 24px;
}

/*========================

About1

========================*/
#about1 { 
    background: url('../img/about1/Dustins-Words-Autism-Project1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about1 h2 { text-align: center; color: #29bca5; }

#about1 h1  {
    text-align: center;
    color: #508dd0;
    margin-top: 10px;
}

#about1 h6 {
    text-align: center;
    line-height: 28px;
    color: #858585;
}

/*========================

About2

========================*/
#about2 { 
    background: url('../img/about2/about2-bg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about2-content h3 { color: #fff; float: right; }
#about2-content hr { float: right; clear: right; }
#about2-content h6 { 
    float: right; 
    text-align: right; 
    color: #fff;
  /* max-width: 776px; */
}
/*========================

About3

========================*/
#about3 { 
    background: url('../img/about3/Background-icons-large.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about3-content ul { margin-top: 50px; }
#about3-content li { position: relative; }
/*#about3-content ul span { 
    position: absolute;
    height: 176px; 
    width: 176px; 
    border-radius: 50%;
    /* background-color: #E4F25D; */
    /*opacity: .46;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease;
}

#about3-content ul span:hover { 
    opacity: 0.76;
    background-color: #4E8CD2;
}*/

#about3-content h3 { text-align: center; color: #666666; }
#about3-content img { 
    display: block; 
    margin: 0 auto;
    -webkit-transition:All .2s ease;
    -moz-transition:All .2s ease;
    -o-transition:All .2s ease; 
}
#about3-content h6 { 
    text-transform: uppercase; 
    font-size: 16px;
    color: #4386D0;
    text-align: center;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif; font-weight: 400;
    letter-spacing: 1.92px;
}

#about3-content p {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #666666;
    font-weight: 100;
    letter-spacing: 1.5px;
}

.twitter-hover {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 9px;
}

#about3-content a:hover .twitter-hover {
    opacity: 1;
}


/*========================

About4

========================*/
#about4 { 
    background: url('../img/about4/about4-bg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 368px;*/
}

#about4-content h3 { color: #fff; }
#about4-content hr { float: left; }
#about4-content h6 { 
    clear: left; 
    max-width: 514px;
    color: #fff; 
}
/*========================

About5

========================*/
#about5 { 
    background: url('../img/about3/Background-icons-large.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about5-content li { text-align: center; }
#about5-content img { display: block; margin: 0 auto; }
#about5-content h5 { 
    text-transform: uppercase; 
    color: #4386D0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif; font-weight: 400;
    letter-spacing: 1.92px;
    line-height: 24px;
}

#about5-content a { 
    color: #666666;
    letter-spacing: 2.5px;
    line-height: 25px;
    text-decoration: underline;
}

.button { margin: 20px auto; }


@media (max-width: 868px) {
    #prototype-for-one-video { float: none; padding-top: 40px; width: 100% }
    #prototype-for-one-info { float: none; width: 100%; }
    #prototype-for-one-video { margin-top: 0px; }
}
@media (max-width: 768px) {
    body { overflow-x: hidden;}
    #landing-content, #how-it-works-content, #for-many-content, #partners-content, #about1-content, #about2-content, #about3-content, #about4-content, #footer-content {
        padding: 85px 30px;
    }
    #for-many {
        min-height: 100%;
        height: auto;
        margin: 0;
    }
    #for-many-content { padding: 10% 30px 0 30px; }
    #for-many-info {
        padding: 0;
        margin: 0 auto;
        display: table;
        float: none;
    }
    #device-container .button { top: -220px; }
    #device-container img { 
        top: 0px;
        left: 0;
        top: 0;
    }
    #input-container input { width: 400px; }
    #prototype-for-one h3{ width: auto; }
    footer { height: auto; }
}

@media (max-width: 450px) {
    h2 { font-size: 1.875em; }
    h3 { font-size: 1.563em; }
    #device-container img { top: -10px; }
    #input-container input, select { width: 300px; }
    #partners li { padding: 0; }
    .mouse-icon { display: none; }
}

@media (max-width: 350px) {
    h1 { font-size: 4.063em; }
    h2 { font-size: 1.438em; }
    #input-container input, select { width: 260px; }
}
